In [1]:
import pandas as pd

# Read the data into a dataframe
df1 = pd.read_csv("cleaned_sentiment_data.csv")
df1["ico_success"].value_counts()

ico_success
1.0    582
0.0    234
Name: count, dtype: int64

In [2]:
# Read the data into a dataframe
df2 = pd.read_csv("cleaned_engagement_data.csv")
df2["ico_success"].value_counts()

ico_success
1.0    582
0.0    234
Name: count, dtype: int64

In [3]:
# Read the data into a dataframe
df3 = pd.read_csv("cleaned_combined_data.csv")
df3["ico_success"].value_counts()

ico_success
1    582
0    234
Name: count, dtype: int64

In [4]:
(df1["ico_success"] == df2["ico_success"]).all()

True

In [5]:
(df1["ico_success"] == df3["ico_success"]).all()

True

In [6]:
df1

,token_name,total_positive_direct_mentions,total_negative_direct_mentions,total_positive_indirect_mentions,total_negative_indirect_mentions,soft_cap,ico_success
0,KXA,3053,1936,40100,28684,100000.0,1.0
1,MGA,2905,917,24796,25392,2850000.0,1.0
2,BICO,933,596,6544,6221,21100000.0,1.0
3,NEXT,1494,1902,3711,2196,3040000.0,0.0
4,UMAD,273,189,2426,2077,7540000.0,1.0
...,...,...,...,...,...,...,...
811,BTL,1263,480,5387,9996,3150000.0,1.0
812,ARC,2651,6730,6203,14883,2800000.0,0.0
813,SIS,735,1012,6190,6045,10080000.0,1.0
814,WIDI,738,347,4676,2220,100000.0,1.0
815,DEPO,623,1188,10004,12831,1010000.0,0.0

In [7]:
df2

,token_name,total_direct_mentions,total_indirect_mentions,total_likes,total_retweets,total_project_followers,total_indirect_followers,soft_cap,ico_success
0,KXA,7110.0,96365,105902,87461,7783,2121009,100000.0,1.0
1,MGA,6180.0,76631,59678,81927,6735,2398075,2850000.0,1.0
2,BICO,2510.0,19312,32762,35707,4370,446223,21100000.0,1.0
3,NEXT,6990.0,11243,73785,102653,7730,3425537,3040000.0,0.0
4,UMAD,757.0,10526,6805,8301,941,268607,7540000.0,1.0
...,...,...,...,...,...,...,...,...,...
811,BTL,2910.0,33232,29200,33156,3603,1045070,3150000.0,1.0
812,ARC,14400.0,39533,24331,161508,18158,2813686,2800000.0,0.0
813,SIS,3400.0,25684,39824,19537,4313,1183477,10080000.0,1.0
814,WIDI,1700.0,9366,16494,11935,2437,701857,100000.0,1.0
815,DEPO,2680.0,36520,2850,30114,5255,1105899,1010000.0,0.0

In [8]:
df3

,token_name,total_positive_direct_mentions,total_negative_direct_mentions,total_positive_indirect_mentions,total_negative_indirect_mentions,total_direct_mentions,total_indirect_mentions,total_likes,total_retweets,total_project_followers,total_indirect_followers,soft_cap,ico_success
0,KXA,3053,1936,40100,28684,7110,96365,105902,87461,7783,2121009,100000,1
1,MGA,2905,917,24796,25392,6180,76631,59678,81927,6735,2398075,2850000,1
2,BICO,933,596,6544,6221,2510,19312,32762,35707,4370,446223,21100000,1
3,NEXT,1494,1902,3711,2196,6990,11243,73785,102653,7730,3425537,3040000,0
4,UMAD,273,189,2426,2077,757,10526,6805,8301,941,268607,7540000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,BTL,1263,480,5387,9996,2910,33232,29200,33156,3603,1045070,3150000,1
812,ARC,2651,6730,6203,14883,14400,39533,24331,161508,18158,2813686,2800000,0
813,SIS,735,1012,6190,6045,3400,25684,39824,19537,4313,1183477,10080000,1
814,WIDI,738,347,4676,2220,1700,9366,16494,11935,2437,701857,100000,1
815,DEPO,623,1188,10004,12831,2680,36520,2850,30114,5255,1105899,1010000,0

In [9]:
df1.iloc[480]

token_name                                DUO
total_positive_direct_mentions            266
total_negative_direct_mentions            180
total_positive_indirect_mentions         2208
total_negative_indirect_mentions         1689
soft_cap                            5100000.0
ico_success                               1.0
Name: 480, dtype: object

In [10]:
df1.loc[df1["token_name"] == "MATIC"]

,token_name,total_positive_direct_mentions,total_negative_direct_mentions,total_positive_indirect_mentions,total_negative_indirect_mentions,soft_cap,ico_success
482,MATIC,16515,31434,234378,257289,5600000.0,1.0

In [11]:
df3.iloc[482]

token_name                             MATIC
total_positive_direct_mentions         16515
total_negative_direct_mentions         31434
total_positive_indirect_mentions      234378
total_negative_indirect_mentions      257289
total_direct_mentions                 104000
total_indirect_mentions               695849
total_likes                          1280414
total_retweets                       1471118
total_project_followers               127978
total_indirect_followers            34627708
soft_cap                             5600000
ico_success                                1
Name: 482, dtype: object

In [12]:
df3.iloc[482]["total_direct_mentions"] + df3.iloc[482]["total_indirect_mentions"]

799849

In [13]:
df3.iloc[482]["total_project_followers"] + df3.iloc[482]["total_indirect_followers"]

34755686